@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bungee+Spice&family=Comic+Neue&family=Dangrek&family=Dosis&family=Lemonada&family=MuseoModerno&family=Nabla&family=Red+Rose&family=Source+Code+Pro&family=Climate+Crisis&family=Tilt+Prism&family=Gloock&family=Anton&display=swap");

/* font-family: "Baloo Bhaijaan 2", cursive; */
/* font-family: "Bungee Spice", cursive; */
/* font-family: "Comic Neue", cursive; */
/* font-family: "Dangrek", cursive; */
/* font-family: "Dosis", sans-serif; */
/* font-family: "Lemonada", cursive; */
/* font-family: "MuseoModerno", cursive; */
/* font-family: "Nabla", cursive; */
/* font-family: "Red Rose", cursive; */
/* font-family: "Source Code Pro", monospace; */
/* font-family: 'Climate Crisis', cursive; */
/* font-family: "Tilt Prism", cursive; */
/* font-family: 'Gloock', serif; */
/* font-family: 'Anton', sans-serif; */

@media (max-width: 450px) {
  @keyframes zoom {
    0% {
      translate: -1em;
      scale: 0.7;
      opacity: 0;
    }
    50% {
      translate: 3em;
      scale: 1;
      opacity: 1;
    }
    100% {
      translate: -1em;
      scale: 0.7;
      opacity: 0;
    }
  }

  .kartu:hover {
    position: relative;
    z-index: 1000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-top: -3em;
    margin-bottom: 3em;
    scale: 0.8;
    font-family: "Baloo Bhaijaan 2", cursive;
  }
}

@media screen and (max-width: 650px) {
  .kartu {
    position: relative;
    border: none;
    transition: 0.5s;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu-img {
    transition: 0.5s;
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }

  .kartu:hover .kartu-img {
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    transform: translate3d(0, 10px, 25px) scale(1.03);
    -webkit-transform: translate3d(0, 10px, 25px) scale(1.03);
    -moz-transform: translate3d(0, 10px, 25px) scale(1.03);
    -ms-transform: translate3d(0, 10px, 25px) scale(1.03);
    -o-transform: translate3d(0, 10px, 25px) scale(1.03);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-nama {
    transition: 0.5s;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-nama {
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    transform: translate3d(0, 20px, 50px) scale(1.06);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate3d(0, 20px, 50px) scale(1.06);
    -moz-transform: translate3d(0, 20px, 50px) scale(1.06);
    -ms-transform: translate3d(0, 20px, 50px) scale(1.06);
    -o-transform: translate3d(0, 20px, 50px) scale(1.06);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-waktu {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-waktu {
    border-radius: 30px;
    border: none !important;
    transform: translate3d(0, 30px, 75px) scale(1.09);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 30px, 75px) scale(1.09);
    -moz-transform: translate3d(0, 30px, 75px) scale(1.09);
    -ms-transform: translate3d(0, 30px, 75px) scale(1.09);
    -o-transform: translate3d(0, 30px, 75px) scale(1.09);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-ruang {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-ruang {
    border-radius: 30px;
    border: none !important;
    transform: translate3d(0, 40px, 100px) scale(1.12);
    transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate3d(0, 40px, 100px) scale(1.12);
    -moz-transform: translate3d(0, 40px, 100px) scale(1.12);
    -ms-transform: translate3d(0, 40px, 100px) scale(1.12);
    -o-transform: translate3d(0, 40px, 100px) scale(1.12);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu-dosen {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-dosen {
    transform: translate3d(0, 50px, 125px) scale(1.15);
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    -webkit-transform: translate3d(0, 50px, 125px) scale(1.15);
    -moz-transform: translate3d(0, 50px, 125px) scale(1.15);
    -ms-transform: translate3d(0, 50px, 125px) scale(1.15);
    -o-transform: translate3d(0, 50px, 125px) scale(1.15);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

@media screen and (min-width: 651px) {
  .kartu {
    position: relative;
    border: none;
    transition: 0.5s;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu-img {
    transition: 0.5s;
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }

  .kartu:hover .kartu-img {
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    transform: translate3d(0, 10px, 25px) scale(1.1);
    -webkit-transform: translate3d(0, 10px, 25px) scale(1.1);
    -moz-transform: translate3d(0, 10px, 25px) scale(1.1);
    -ms-transform: translate3d(0, 10px, 25px) scale(1.1);
    -o-transform: translate3d(0, 10px, 25px) scale(1.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-nama {
    transition: 0.5s;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-nama {
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    transform: translate3d(0, 20px, 50px) scale(1.2);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate3d(0, 20px, 50px) scale(1.2);
    -moz-transform: translate3d(0, 20px, 50px) scale(1.2);
    -ms-transform: translate3d(0, 20px, 50px) scale(1.2);
    -o-transform: translate3d(0, 20px, 50px) scale(1.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-waktu {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-waktu {
    border-radius: 30px;
    border: none !important;
    transform: translate3d(0, 30px, 75px) scale(1.3);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 30px, 75px) scale(1.3);
    -moz-transform: translate3d(0, 30px, 75px) scale(1.3);
    -ms-transform: translate3d(0, 30px, 75px) scale(1.3);
    -o-transform: translate3d(0, 30px, 75px) scale(1.3);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .kartu-ruang {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-ruang {
    border-radius: 30px;
    border: none !important;
    transform: translate3d(0, 40px, 100px) scale(1.4);
    transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate3d(0, 40px, 100px) scale(1.4);
    -moz-transform: translate3d(0, 40px, 100px) scale(1.4);
    -ms-transform: translate3d(0, 40px, 100px) scale(1.4);
    -o-transform: translate3d(0, 40px, 100px) scale(1.4);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu-dosen {
    transform: translate3d(0, 0, 0);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .kartu:hover .kartu-dosen {
    transform: translate3d(0, 50px, 125px) scale(1.5);
    transition: 0.5s;
    border: none !important;
    border-radius: 30px;
    -webkit-transform: translate3d(0, 50px, 125px) scale(1.5);
    -moz-transform: translate3d(0, 50px, 125px) scale(1.5);
    -ms-transform: translate3d(0, 50px, 125px) scale(1.5);
    -o-transform: translate3d(0, 50px, 125px) scale(1.5);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

@media (min-width: 451px) {
  @keyframes zoom {
    0% {
      translate: 0m;
      scale: 1;
      opacity: 0;
    }
    50% {
      translate: 4.5em;
      scale: 1.5;
      opacity: 1;
    }
    100% {
      translate: 0em;
      scale: 1;
      opacity: 0;
    }
  }

  .kartu:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-bottom: 5em;
    font-family: "Baloo Bhaijaan 2", cursive;
  }
}

a.navbar-brand {
  font-family: "Nabla", cursive;
  user-select: none;
  animation: zoom 5s infinite;
  -webkit-animation: zoom 5s infinite;
}

body {
  display: flex;
  background-image: url("../img/background.jpg");
}

body > .container {
  margin-top: 5em;
  margin-bottom: 5em;
}

ul li button.nav-link {
  background-color: rgb(167, 227, 255) !important;
  color: black;
  font-family: "MuseoModerno", cursive;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

ul li button.nav-link:hover,
ul li button.nav-link.active:hover {
  scale: 1.3;
  background-color: midnightblue !important;
  color: beige;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

ul li button.nav-link.active {
  background-color: black !important;
  color: beige;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

ul li a.nav-link {
  font-family: "Lemonada", cursive;
  color: whitesmoke !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

ul li a.nav-link:hover,
ul li a.nav-link.active:hover {
  background-color: rgb(74, 108, 209);
  scale: 1.3;
  color: lightgoldenrodyellow !important;
  border-radius: 0.5em;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

ul li a.nav-link.active {
  background-color: rgb(200, 225, 240);
  color: black !important;
  border-radius: 1em;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.dropdown-menu {
  background-color: lightskyblue;
  font-family: "Anton", sans-serif;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(0, 20, 145);
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}

/* Mengubah warna scrollbar */
::-webkit-scrollbar {
  background-color: #214fb9;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c0cbe9;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

thead {
  font-size: 1.5em;
  font-family: "Dangrek", cursive;
}

tbody {
  font-size: 1.2em;
  font-family: "Source Code Pro", monospace;
}

.card {
  font-family: "Dosis", sans-serif;
}

.card.semua {
  font-family: "Dosis", sans-serif;
  background-image: url("../img/kartu.png");
  background-repeat: no-repeat;
  background-position: 0em -2.5em;
  background-size: cover;
  align-items: center;
}

.form-check > label {
  font-family: "Bungee Spice", cursive;
}

ul .form-check > label {
  font-family: "Red Rose", cursive;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.ketik p {
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  font-family: "Comic Neue", cursive;
  animation: typing 2.2s steps(40, end), blink-caret 0.75s step-start 3;
  -webkit-animation: typing 2.2s steps(40, end), blink-caret 0.75s step-start 4;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a#instagram {
  scale: 1;
  animation: fadein 5s;
  animation-delay: 5s;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-animation: fadein 5s;
}

a#instagram:hover {
  position: sticky;
  scale: 1.2;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.dropdown-menu {
  min-width: 100px !important;
  height: 130px !important;
}

button#reset {
  scale: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

button#reset:hover {
  scale: 1.3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
